/* Container and row styles */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.full-width-container {
    width: 100%;
    height: 55vh; /* Full viewport height */
    background-image: url('../images/contactUs.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    padding-top: 50px;
    font-weight: bold;
    font-size: 40px;
}
.full-width-container h1 {
    font-size: 50px;
    margin-bottom: 10px;
}
.full-width-container p {
    font-size: 24px;
    margin: 0;
}
.underline {
    width: 50px;
    height: 4px;
    background-color: #ff4d4d;
    margin: 20px auto;
}

.underline {
    width: 80px;
    height: 4px;
    background-color: #007BFF; /* Customize underline color */
    margin: 0 auto;
}

.contact-info-area {
    padding: 100px 0;
}

.section-heading {
    margin-bottom: 40px;
    
}

.section-heading p {
    font-size: 26px;
    color: #06043c;
    font-weight: bold;
}

.section-heading h2 {
    font-size: 36px;
    color: #333;
}


.single-information-area {
    background: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.contact-icon {
    font-size: 40px;
    color: #1f118f;
    margin-bottom: 20px;
}

.single-information-area h5 {
    font-size: 18px;
    color: #333;
}

.single-information-area h6 {
    font-size: 16px;
    color: #777;
}

.c-border {
    width: 100%;
    height: 2px;
    background: #0b023f;
    margin-top: 20px;
}

.form-section{
    text-align: center;
}

.form-section p{
    font-weight: bold;
    font-size: 26px;
    color: #0b023f;
}

.container-form {
    max-width: 800px;
    margin: auto;
    padding: 30px;
    border: 1px solid #190438;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #e5e9ee;
}
.container-form h2 {
    margin-bottom: 20px;
    font-size: 15px;
    color: #1f118f;
}
.form-group {
    margin-bottom: 15px;
}
.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #190438;
    font-weight: bold;
}
.form-group input,
.form-group select,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #706666;
    border-radius: 5px;
}
.form-group input[type="checkbox"] {
    width: auto;
}
.form-group .checkbox-label {
    display: inline-block;
    margin-left: 5px;
}
.form-group textarea {
    height: 100px;
}
.form-group button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.form-group button:hover {
    background-color: #0056b3;
}

.map-container {
    position: relative;
    padding-bottom: 26.25%; /* 16:9 aspect ratio */
    max-height: 0;
    overflow: hidden;
    max-width: 100%;
    background: #eee;
    margin-bottom: 5px;
    margin-top: 20px;
}

.map-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    
}


